<h1>Add a Book</h1>
<div class=newBooks> 
    <form action="/books" method="POST">
        <label for=""> Title: </label>
        <input type="text" name="title">

        <label for="">Image URL:</label>
        <input type="text" name="image_url">

        <label for="">Author:</label>
        <input type="text" name="author">

        <label for="">Illustrator:</label>
        <input type="text" name="illustrator">

        <label for="">Quote:</label>
        <input type="text" name="quote">

        <input type="hidden" name="user_id" value=<%= session['user_id'] %>>


        <button>Add Book</button>
    </form>
</div>