<div>
 <img id="logo" src="https://i.imgur.com/oF3wOaF.png" alt="logo">
    <h1>
        <span class=one>M</span><span class=two>Y</span><span class=three>B</span><span class=four>O</span><span class=five>O</span><span class=six>K</span><span class=seven>S</span>
    </h1>
</div>
 

      <%# where friendlist shows in here with their favourite books %>