* {
    box-sizing: border-box;
}

body {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    background-color: white;
    margin: 20px 20px;
    /* background-image: url(https://media.istockphoto.com/photos/bookshelves-in-the-library-with-colorful-books-3d-render-picture-id1209858959?s=2048x2048); */
    background-repeat: no-repeat;
    background-size: cover;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.25rem;
    margin-top: 1.5rem;
}

a, button {
    border: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    border-radius: 20px;
    padding: 1rem 1rem;
    background-color: rgb(207, 230, 78);
    color: rgb(19, 16, 29);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.book header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(92, 92, 148);
}

.book img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.book .controls {
    display: flex;
    gap: 0.5rem;
}

h1 {
    color: rgb(11, 15, 20);
    font-size: 100px;
    text-align: center;
}

h2 {
    color: rgb(14, 24, 34);
    font-size: 20px;
}
.book h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(12, 19, 24);
    font-size: 20px;
}

.books li {
    color: rgb(12, 8, 27); 
}

label { 
    color: rgb(17, 17, 30); 
    font-weight: bold; 
    display: block;
    width: 150px; 
    padding: 10px;
    /* align-items: center; */
     /* float: left;  */
} 

label:after {
    content: "- "
}

.books {
    background-color: rgb(173, 203, 240);
}

div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(92, 92, 148);
}

h1 .one{
    color: rgb(12, 12, 55);
}
h1 .two{
    color: rgb(231, 157, 236);
}
h1 .three {
    color: rgb(23, 20, 76);
    padding-left: 20px;
}
h1 .four {
    color: rgb(240, 108, 87);
}
h1 .five {
    color: rgb(120, 239, 223);
}
h1 .six {
    color: rgb(232, 225, 107);
}
h1 .seven {
    color: rgb(238, 151, 174);
}

.editPage {
    background-color: rgb(96, 158, 224);
    padding: 50px 50px;
}

.newBooks {
    background-color: rgb(96, 158, 224);
    padding: 50px 50px;
}
input {
    border-style: groove;
    background-color: rgb(173, 171, 171);
}
