<h1>Login</h1>
<div class=forms>
    <form action="/sessions" method="POST">

        <label for="">Email:</label>
        <input type="text" name="email">

        <label for="">Password:</label>
        <input type="password" name="password">

        <button>Log in</button>
    </form>
</div>
